* {
    box-sizing: border-box;
  }

.telaInicial{
    background-color: #FB6B6B;
    color: #ffffff;
    height: 1000px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.telaInicial button{
    background-color: #ffffff;
    color: #D79000;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    width: 246px;
    height: 54px;
    background: #FFFFFF;
    border: 1px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.telaInicial h1{
    font-family: 'Righteous';
    letter-spacing: -0.012em;
    width: 257px;
    height: 59px;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}
.telaInicial img{
    width: 136px;
    height: 161px;
    margin-right: 10px;
}
.TelaFlash  h1{
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.012em;
}

.TelaFlash{
    position: relative;
    display: flex;
    background-color: #FB6B6B;
    color: #ffffff;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    margin-bottom: 10px;
}

.Corpo{
    background-color: #FB6B6B;
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Cartas{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 160px;
    ;
}

.pergunta{
    background-color: #FFFFFF;
    width: 300px;
    height: 65px;
    border-radius: 5px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    margin-top: 20px;

}
.pergunta{
    height: 131px;
    width: 330px;
    background-color: #ffffD4;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    border: #D70900;

 }

.root{
     background-color: #FB6B6B;
 }

 .pergunta img{
     width: 30px;
     position: absolute;
     bottom: 15px;
     right: 15px;
 }

 .pergunta h4{
     position: absolute;
     top: 20px;
     left: 30px;
     display: flex;
     justify-content: center;
     text-align: left;
     margin-right: 10px;
 }


 .base{
     height: 115px;
     width: 100%;
     background-color: #FFFFFF;
     position: fixed;
     bottom: 0;
     box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     margin-top: 200px;
}
.escolhas{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 75px;
}
 .choise div{ 
    width: 85.17px;
    height: 37.17px;
    border-radius: 5px;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    color: #ffffff;
 }

 .red{
     background-color: #ff3030;
 }
 .yellow{
     background-color: #ff922e;
 }
 .green{
     background-color: #2fbe34;
 }

 .carta{
     background-color: #ffffff;
     height: 91px;
     width: 330px;
     box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
     border-radius: 5px;
     display: flex;
     align-items: center;
     justify-content: space-between;
     text-align: center;
     position: relative;
     margin-top: 20px;
     font-family: 'Recursive';
     font-style: normal;
     font-weight: 700;
     font-size: 16px;
     line-height: 19px;
     padding: 15px;
 }

 .questionario{
     margin-top: 120px;
     height: 100%;
     margin-bottom: 130px;
     overflow-y: scroll;
     scrollbar-width: none;
     
     
 }
 ::-webkit-scrollbar{
    width: 0;
    Background: transparent;
}

 .respondida{
    background-color: #ffffff;
    height: 91px;
    width: 330px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    position: relative;
    margin-top: 20px;
    text-decoration-line: line-through;
    color: #ff3030;
    padding: 20px;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
 }
 .errada{
    color: #ff3030;
 }

 .certa{
    color: #2FBE34;
 }

 .quase{
    color: #FF922E;
 }
 .baseicons{
     display: flex;
 }

 .fimjogo{
     display: flex;
 }
 .fimjogo img{
     margin-right: 5px;
 }

 button {

    background:#FB6B6B;
    border-radius: 5px;
    border: 1px solid #D70900;
    color: #ffffff;
    height: 32px;
    width: 167px;
}