.telaInicial{
    background-color: #FB6B6B;
    color: #ffffff;
    height: 1000px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.telaInicial button{
    background-color: #ffffff;
    color: #D79000;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    width: 246px;
    height: 54px;
    background: #FFFFFF;
    border: 1px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.telaInicial h1{
    font-family: 'Righteous';
    letter-spacing: -0.012em;
    width: 257px;
    height: 59px;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}
.telaInicial img{
    width: 136px;
    height: 161px;
    margin-right: 10px;
}
.TelaFlash  h1{
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.012em;
}

.TelaFlash{
    position: relative;
    display: flex;
    background-color: #FB6B6B;
    color: #ffffff;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.TelaFlash img{
    width:52px;
    height:60px
}

.Corpo{
    background-color: #FB6B6B;
    height: 1000px;
}

.Cartas{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 160px;
    ;
}

.pergunta{
    background-color: #FFFFFF;
    width: 300px;
    height: 65px;
    border-radius: 5px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    margin-top: 20px;

}
 .Resposta, .pergunta{
    height: 131px;
    width: 299px;
    background-color: #ffffD4;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    border: #D70900;

 }

 .Resposta h4{
     border-top: 10px;
     border-left: 10px;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
 }

 .root{
     background-color: #FB6B6B;
 }

 .pergunta img{
     width: 30px;
     position: absolute;
     bottom: 15px;
     right: 15px;
 }

 .pergunta h4{
     position: absolute;
     top: 30px;
     left: 30px;
     display: flex;
     justify-content: center;
     text-align: left;
     margin-right: 10px;
 }